.App {
    text-align: center;
    background-color: coral;
    padding-bottom: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#header {
    background-color: maroon;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    text-align: left;
    padding-left: 10px;
}